.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER {
  position: fixed;
  top: 100px;
  width: 240px;
  height: 500px;
  box-sizing: border-box;
  background: #fafbfc;
  overflow: visible;
  padding-bottom: 6px;
  border-left: 1px solid rgb(87, 181, 208);
  border-bottom: 1px solid rgb(87, 181, 208);
  z-index: 999999999;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s linear;
  display: flex;
  flex-direction: column;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER ul {
  padding: 0;
  margin: 0;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER.CHROME_ESSAY_OUTLINE_EXTENSION_ACTIVE {
  transform: translate3d(0, 0, 0);
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_TOGGLE {
  writing-mode: tb;
  background: #fafbfc;
  border-radius: 50%;
  position: absolute;
  right: 240px;
  top: 33%;
  color: rgb(15, 46, 71);
  cursor: pointer;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_TOGGLE img {
  width: 28px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER {
  flex: 0 0 28px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background: rgb(87, 181, 208);
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER a,
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER a:link,
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER a:focus,
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER a:hover,
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER a:visited {
  color: white;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_HEADER a:hover {
  text-decoration: underline;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_BODY {
  background: #fafbfc;
  padding: 6px;
  flex: 1 1 auto;
  overflow: auto;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_FOOTER {
  background: rgb(87, 181, 208);
}
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER li[class^="CHROME_ESSAY_OUTLINE_EXTENSION_CLASS"] {
  list-style: none;
}
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER li[class^="CHROME_ESSAY_OUTLINE_EXTENSION_CLASS"] > div {
  line-height: 28px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER li[class^="CHROME_ESSAY_OUTLINE_EXTENSION_CLASS"] > div:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 0;
  margin-top: -2px;
  background-color: rgb(15, 46, 71);
  border-radius: 50%;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER li[class^="CHROME_ESSAY_OUTLINE_EXTENSION_CLASS"] > div:hover {
  background: #ebedef;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_1 > div {
  padding-left: 12px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_2 > div {
  padding-left: 24px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_2 > div:before {
  left: 12px!important;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_3 > div {
  padding-left: 36px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_3 > div:before {
  left: 24px!important;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_4 > div {
  padding-left: 48px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_4 > div:before {
  left: 36px!important;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_5 > div {
  padding-left: 60px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_5 > div:before {
  left: 48px!important;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_6 > div {
  padding-left: 72px;
}

.CHROME_ESSAY_OUTLINE_EXTENSION_CONTAINER .CHROME_ESSAY_OUTLINE_EXTENSION_CLASS_6 > div:before {
  left: 48px!important;
}